<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="reserve">Reservation</h2>
          <p>
            <strong>Reservation Number</strong>: {{reservation.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{reservation.name}}</p>
       
            <p>
            <strong>Reservation Day</strong>: {{reservation.day}}</p>
          <p>
            <p>
            <strong>Reservation Time</strong>: {{reservation.time}}</p>
          <p>
            <div class="row">
              <div class="col-md-6">
                   <a href="/">← Back To Home</a>
              </div>
              <div class="col-md-6">
                   <a href="/menu">Go to Menu →</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
